/* 
    RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #051E34;
}

/* 
    GENERAL
*/

html {
    font-family: Arial, Helvetica, sans-serif;
}


/*
    HEADER
*/
header {
    height: 60px;
}
.logo_small img {
    height: 40px; 
    display: none; 
}

/*
MAIN
*/
.fixed-sidebar {
    height: calc(100vh - 60px);
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--dark-blue);
}

/* 
    RESPONSIVE
*/

/* PC SMALL */
@media screen and (max-width: 992px) {

}

/* TABLET */
@media screen and (max-width: 762px) {
    .header_icons {
        display: none;
    }

    .logo {
        display: none;
    }

    .logo_small img {
        display: block;
    }

    .fixed-sidebar span {
        display: none;
    }
}

/* SMARTPHONE */
@media screen and (max-width: 576px) {

}
