/* 
    RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/

html {
    font-family: Arial, Helvetica, sans-serif;
}


/*
    HEADER
*/
.logo_small img {
  height: 40px; 
  display: none; 
}

/* 
    RESPONSIVE
*/

/* PC SMALL */
@media screen and (max-width: 992px) {

}

/* TABLET */
@media screen and (max-width: 762px) {
    .header_icons {
        display: none;
    }

    .logo {
        display: none;
    }

    .logo_small img {
        display: block;
    }
}

/* SMARTPHONE */
@media screen and (max-width: 576px) {

}
