/* 
    RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --night-blue: #051E34;
    --dark-blue: #165BBA;
}


/* 
    GENERAL
*/

html {
    font-family: Arial, Helvetica, sans-serif;
}


/*
    HEADER
*/
header {
    height: 60px;
}
.logo_small img {
    height: 40px; 
    display: none; 
}

/*
    MAIN
*/
.my_sidebar {
    height: calc(100vh - 60px);
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--night-blue);
}

.my_badge {
    background-color: var(--dark-blue);
    border-radius: 25px;
}

.square {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    margin-left: 10px;
}

.badge_plus {
    display: none;
}

#offcanvasRight {
    width: 700px;
}

/* 
    RESPONSIVE
*/

/* PC SMALL */
@media screen and (max-width: 992px) {

}

/* TABLET */
@media screen and (max-width: 762px) {
    .header_icons {
        display: none;
    }

    .logo {
        display: none;
    }

    .logo_small img {
        display: block;
    }

    .my_sidebar span {
        display: none;
    }

    .badge_plus {
        display: block;
    }

    .bool_badge {
        display: none;
    }

    #offcanvasRight {
        width: 90vw;
    }
}

/* SMARTPHONE */
@media screen and (max-width: 576px) {
    
}
